#sexo-regiao-container{
	padding: 20px 20px 20px 20px !important;
	margin-left: 100px;
	margin-top: 40px;
	margin-bottom: 40px;
}

#btn-por-renda{
	height: 60px;
	width: 100px;
}

.btn-selected{
	background-color: #000
}

#btn-por-sexo{
	margin-bottom: 50px;
	height: 60px;
	width: 100px;
}